html, body 
{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    color:lightgray;
    font-size: 100%;
    font-family: Gill Sans, sans-serif;
    overflow: hidden;
    background-color: black;
    background-size: 20%;
}

.fridge {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    background: radial-gradient(#e66465, #9198e5);

}

.magnet {
    position: absolute;
    cursor: pointer;
    padding: 3px;
    font-size: 0.75rem;
    color: white;
    border: solid 1px black;
    border-radius: 10px;
    background-color: black;
    box-shadow: 1px 1px 1px darkred;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}